$side_width: 350px;

#page_about
{
	.page_content
	{
		display: flex;

		@media(max-width: 992px){
			flex-direction: column-reverse;
		}

		.left
		{
			width: calc(1200px - #{$side_width});

			a
			{
				color: inherit;
			}

			@media(max-width: 1199px){
				width: calc(960px - #{$side_width});
			}

			@media(max-width: 992px){
				width: 100%;
			}

			.slick-slider
			{
				margin-bottom: 100px;
			}

			.about_slider_item
			{
				max-height: 500px;
				object-fit: cover;
			}

			.about_slider_item img
			{
				width: 100%;
				height: 100%;
			}

			.slick-next {
				right: 15px;
			}

			.slick-prev {
				left: 15px;
				z-index: 10;
			}

			.slick-dots
			{
				top: calc(100% + 5px);
			}
		}

		.side
		{
			$padding_margin: 30px;
			padding-left: $padding_margin;
			margin-left: $padding_margin;
			width: calc(#{$side_width} - #{$padding_margin * 2});
			border-left: 1px solid #d9d9d9;
			flex-shrink: 0;

			@media(max-width: 992px){
				padding: 0;
				margin: 0 0 20px 0;
				border-left: none;
			}



			.item
			{
				margin-bottom: 10px;
				a
				{
					color: black;
					text-decoration: none;
					display: block;

					&.copy_email
					{
						border-bottom: 1px dotted
					}
				}

				.hint
				{
					font-size: 12px;
					color: #939393;
					margin: 5px 0 0 25px;

					>a
					{
						display: inline-block;
					}
				}
			}
		}

	}


}
