.page__row
{
	&.contact__row
	{
		margin-bottom: 40px;
		.page__left
		{
			.map
			{
				height: 100% !important;
				min-height: 300px;
				margin-bottom: 0;
			}

			margin-bottom: 0;
		}

		.page__right
		{
			margin-bottom: 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.contacts
			{
				margin-bottom: 0;
				flex-grow: 1;
			}
		}
	}
}
