$color_001: #157ee1;
$color_002: #e0e0e0;
$color_003: #80b8ed;
$color_004: #eef4fa;

#main_filter
{
    a.filter__btn
    {
        display: block;
        text-decoration: none;
        line-height: 34px;
        text-align: center;

        &.disabled
        {
            background-color: grey;
        }
    }

    .filter__col
    {
        @for $i from 1 through 3 {
            &:nth-child(#{$i}){
                z-index: 21 - $i;
            }
        }

        &.double
        {
            flex-wrap: nowrap;
            .element
            {
                box-sizing: border-box;
                &:first-of-type
                {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }

                &:last-of-type
                {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    margin-left: -1px;
                }
            }
        }
    }

	.element
	{
		border: 1px solid $color_002;
		border-radius: 8px;
		padding: 6px 8px;
		background: white;
		cursor: pointer;

		&.disabled
		{
			opacity: 0.5;
			cursor: auto;

			&:hover
			{
				border-color: $color_002;
			}
		}

		&:hover
		{
			border-color: $color_001;
            z-index: 10;
		}

		&.highlight
		{
			border-color: $color_003;
			background-color: $color_004;
		}

		&.inactive
		{
			opacity: 0.5;
		}

        &.text
        {
            position: relative;
            >.current_value
            {
                flex-grow: 1;

                >input
                {
                    width: 100%;
                    border: none;
                    outline: none;
                    background: transparent;
                }
            }

            >.reset
            {
                width: 24px;
                height: 24px;
                background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill-rule='evenodd' fill='%23757575' d='M10.586 12 7.05 8.464A1 1 0 0 1 8.464 7.05L12 10.586l3.536-3.536a1 1 0 0 1 1.414 1.414L13.414 12l3.536 3.536a1 1 0 0 1-1.414 1.414L12 13.414 8.464 16.95a1 1 0 0 1-1.414-1.414L10.586 12z'/%3E%3C/svg%3E") 50% 50% no-repeat;
                transition: transform .1s ease-out;
                position: absolute;
                right: 5px;
                top: 5px;
            }
        }

        &.selected
        {
            border-color: $color_001;
            background-color: #eef4fa;
            z-index: 10;
        }


		&.select
		{
			position: relative;

			>.current_value
			{

				>input
				{
					width: calc(100% - 20px);
					border: none;
					outline: none;
                    background: transparent;
				}
			}

			>.arrow
			{
				width: 24px;
				height: 24px;
				opacity: .543;
				background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M15.483 9.297l-3.9 3.9-3.9-3.9a.99.99 0 00-1.4 1.4l4.593 4.593a1 1 0 001.414 0l4.593-4.593a.99.99 0 10-1.4-1.4z'/%3E%3C/svg%3E") 50% 50% no-repeat;
				transition: transform .1s ease-out;
                position: absolute;
                right: 5px;
                top: 5px;
			}

			.select_dropdown
			{
				position: absolute;
				left: 0;
				top: calc(100% + 20px);
				background: white;
				width: auto;
				box-shadow: 0 3px 14px rgb(0 0 0 / 12%);
				border-radius: 8px;
				opacity: 0;
				transition-property: top, opacity;
				transition-duration: 0.1s;
				transition-timing-function: ease-out;
				overflow: hidden;
				padding: 10px 0;
				display: none;
                min-width: 100%;
                z-index: 10;

				.variants
				{
					max-height: 340px;
					overflow-y: auto;
                    white-space: nowrap;


					ul
					{
						list-style: none;
						margin: 0;
						padding: 0;
                        position: relative;

						li
						{
							padding: 7px 15px 7px 35px;
							cursor: pointer;
							position: relative;

							&:not(.group_name, .divider){
								&:hover
								{
									color: white;
									background-color: $color_001;
								}
							}

							&.blank
							{
                                display: none !important;

							}

                            &[data-id=all]
                            {
                                &:before
                                {
                                    //font-family:'FontAwesome', serif;
                                    //content: "\f00d";
                                    position: absolute;
                                    left: 7px;
                                    top: 5px;
                                    width: 17px;
                                    height: 17px;
                                    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill-rule='evenodd' fill='%23757575' d='M10.586 12 7.05 8.464A1 1 0 0 1 8.464 7.05L12 10.586l3.536-3.536a1 1 0 0 1 1.414 1.414L13.414 12l3.536 3.536a1 1 0 0 1-1.414 1.414L12 13.414 8.464 16.95a1 1 0 0 1-1.414-1.414L10.586 12z'/%3E%3C/svg%3E");
                                    content:'';
                                }

                                &:hover
                                {
                                    &:before
                                    {
                                        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill-rule='evenodd' fill='white' d='M10.586 12 7.05 8.464A1 1 0 0 1 8.464 7.05L12 10.586l3.536-3.536a1 1 0 0 1 1.414 1.414L13.414 12l3.536 3.536a1 1 0 0 1-1.414 1.414L12 13.414 8.464 16.95a1 1 0 0 1-1.414-1.414L10.586 12z'/%3E%3C/svg%3E");
                                    }
                                }
                            }


							&.checked
							{
								background-color: $color_001;
								color: white;

								&:before
								{
									//font-family:'FontAwesome', serif;
									//content: "\f00c";
									position: absolute;
									left: 8px;
									top: 5px;
                                    width: 17px;
                                    height: 17px;
                                    content: '';
                                    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='white' d='M5.716 12.881a.951.951 0 0 1 0-1.378l-.032.032a1.042 1.042 0 0 1 1.436.003l2.88 2.77 6.885-6.62a1.045 1.045 0 0 1 1.431 0l-.032-.03a.949.949 0 0 1-.005 1.382l-7.559 7.266a1.053 1.053 0 0 1-1.437.005l-3.568-3.43z'/%3E%3C/svg%3E");
								}
							}

							&.divider
							{
								padding: 0;
								margin: 0 0 10px 0;
								width: 100%;
								height: 1px;
								background: #e5e5e5;
							}

							&.group_name
							{
								padding-left: 15px;
								color: #777;
							}
						}
					}
				}
			}

			&.showed
			{
				border-color: $color_001;

				.select_dropdown
				{
					top: calc(100% + 10px);
					opacity: 1;
					display: block;
				}

				>.arrow
				{
					transform: rotate(180deg);
				}

                .current_value
                {
                    input
                    {
                        opacity: 0.5;
                    }
                }
			}


		}
	}
}

.models
{
    .models__section
    {
        //display: block !important;

        &.blank
        {
            display: none;
        }
    }

    .brands__section
    {
        display: block !important;
    }
}
